html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
.headshot{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: aliceblue;
    grid-column: 1/2;
    grid-row: 1/2;
    border: 5px solid lightcyan;
    padding: 10px;
    background-color: lightcyan;
    border-radius: 80%;
    /* position: relative; */
    align-self: center;
    justify-self: center;
    /* margin-top: 200px;
    margin-bottom: 50px;
    margin-right: 20px; 
    margin-left: 50px; */
}
.headshot img {
    width: 20px;
    height: 20px;
    border-radius: 80%;
}
footer {
    background-color: cornflowerblue;
    padding-top: 4px;
    padding-left: 4px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    width: 100%;
}
nav{
    background-color: cornflowerblue;
    padding: 3px;
    margin-bottom: 0;
    margin-top:0%;
    display: flex;
    /* justify-content: flex-start; */
    justify-content: space-around;
}
.active {
    text-decoration: bold;
    text-decoration-color: tomato;
    text-decoration-thickness: 4px;
}
a:link {
    color: black;
}
.portfolio {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 40% 20% 20% 10%;
    justify-self: center;
}
.project1 {
    grid-column: 1/2;
    margin-top: 40px;
}
.project2 {
    grid-column: 2/2;
    margin-top: 40px;
}
a:hover {
    background-color: lightblue;
}
.homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    /* justify-items: center; */
    padding: 20px;
    height: 40vh;
    width: 40vw;
    max-height: 800px;
    max-width: 1200px;
}
.description {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: azure;
    /* grid-column: 2/2;
    grid-row: 2; */
    /* margin-top: 40px;
    justify-self: center;
    align-items: center; */
}
.jobtitle {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* grid-column: 2/2;
    grid-row:1; */
    /* justify-self: center; */
    /* margin-top: 35px; */
    /* margin-left: 20px; */
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: lightblue;
}
.linkedin {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: beige;
}
.myname {
    display: grid;
    grid-row: 1;
    grid-column: 1;
}
h1 {
   font-size: 4vw;
}