body {
    font-family: Arial, Helvetica, sans-serif;
}
.headshot{
    width: 200px;
}
footer {
    background-color: cornflowerblue;
    padding-top: 4px;
    padding-left: 4px;
    text-align: center;
}
nav{
    background-color: cornflowerblue;
    padding: 3px;
    margin-bottom: 0;
    margin-top:0%;
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
}
.active {
    text-decoration: bold;
    text-decoration-color: tomato;
    text-decoration-thickness: 4px;
}
a:link {
    color: black;
}
